.logo-div {
    height: 100%;
    line-height: 100%;
    color: #fff;
    font-size: 28px;
    text-align: center;
}

.logo-div>span {
    display: inline-block;
}

.logo-div .base {
    margin-left: 10px;
    font-size: 10px;
}